
<style>
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #messages { margin-bottom: 10px }

    .container{
        margin-top: 20px !important;
    }

    .mensajes{
        list-style-type: none;
        border-style: solid;
        border-color: black;
        border:2px;
        overflow-y: scroll; 
        height: 400px;
        width: 300px;
        margin: 0; 
        padding: 0;
    }
</style>


<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/jquery-1.11.1.js"></script>


<script src="js/phaser.min.js"></script>
<script src="js/game.js"></script>
<script src="js/playStage.js"></script>
<script src="js/roomsStage.js"></script>
<script src="js/waitStage.js"></script>
<script src="js/socket.js"></script>

<div class = "container">
    <div class="row">
        <div class= "col-sm-10">
            <div id="phaser-game"></div>
        </div>
        <div class="col-sm-2">
            <div class="container">
                <div class="row">
                    <ul class="mensajes" id="messages"></ul>
                </div>
                <div class="row">
                    <form action="">
                        <input id="m" autocomplete="off"/> <button>send</button>
                    </form>   
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/chat.js"></script>


