
<style>
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #messages { margin-bottom: 10px }

    .caja{
        display: inline-flex; !important;
    }
    .caja ul{
        display: inherit;
        border-color: black;
        border:2px;
        list-style-type: none; 
        margin-top: 10px;
        padding: 0; 
        max-width: 200px;
        max-height:300px; 
        overflow-y: scroll; 
        height: 300px
        width: 200px;
    }
    .caja form{
        margin-top: 400px;
    }
</style>


<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/jquery-1.11.1.js"></script>


<script src="js/phaser.min.js"></script>
<script src="js/game.js"></script>
<script src="js/socket.js"></script>
<script src="js/chat.js"></script>


<div class = "container caja">
    <div id="phaser-game"></div>
    <ul id="messages"></ul>
    <form>
        <input id="m" autocomplete="off"/> <button>send</button>
    </form>
</div>

