<style type="text/css">
	.textoMain
	{
		text-align: center;
	}

	.spanSign{
		display: inline-flex;
	}

	.likA{
		display: inline-flex;
	}

	.box{
		margin-top: 10px;
		text-align: center;
	}

	.btCenter
	{
		display: block !important;
		position: relative !important;
		margin-left: 10%;
		margin-right: 10%;
	}

</style>
<div class="container" style="margin-top: 8px;">
  <div class="jumbotron mx-auto">
	    <h1 class="textoMain">Red & Black</h1>

	    <h2 class="textoMain">...About the app.</h2>
  </div>
</div>