<style type="text/css">
	.textoMain
	{
		text-align: center;
	}

	.spanSign{
		display: inline-flex;
	}

	.likA{
		display: inline-flex;
	}

	.box{
		margin-top: 10px;
		text-align: center;
	}

	.btCenter
	{
		display: block !important;
		position: relative !important;
		margin-left: 10%;
		margin-right: 10%;
	}

</style>
<div class="container" style="margin-top: 8px;">
  <div class="jumbotron mx-auto">
  	<% if (!session.authenticated) { %>
	    <h1 class="textoMain">Red & Black</h1>

	    <h2 class="textoMain">...This is a betatester app.</h2>
	    <a href="/signup" class="btn btn-primary btn-lg btCenter" role="button">Sign up now!</a>
	    <div class="box">  
		    <span class="textoMain spanSign">Do you have acount?</span>
		    <a class="textoMain linkA" href="/login">Sign in</a>
	    </div>
    <% }else{ %>
    	<h1 class="textoMain">Welcome</h1>
    	<h2 class="textoMain">...You are logged in</h2>
    <% } %>
  </div>
</div>